* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(54, 77, 204);
    background: linear-gradient(180deg, rgba(54, 77, 204, 1) 0%, rgba(19, 36, 116, 1) 81%);
}

.avatar {
    width: 100px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 4px;
}

h2 {
    font-size: 16px;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.social img {
    width: 33px;
}

.link-list {
    text-align: center;
    list-style: none;
}

.link-list li a {
    text-decoration: none;
    color: rgba(54, 77, 204, 1);
    background-color: white;
    padding: 15px 20px;
    display: block;
    border-radius: 4px;
    font-weight: bold;
}

.link-list li {
    margin: 10px 20px;
}

.link-list li a span {
    color: grey;
    display: block;
    margin-top: 10px;
}